<section class="log-reg">
    <div class="top-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <a href="Home/Index.html" class="backto-home"><i class="fas fa-chevron-left"></i> Back to Home</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="image image-log">
            </div>
            <div class="col-lg-7">
                <div class="log-reg-inner">
                    <div class="section-header inloginp">
                        <h2 class="title">
                            Welcome to HELPY
                        </h2>
                    </div>
                    <div class="main-content inloginp">
                        <form action="#">
                            <div class="form-group">
                                <label for="">Your Address</label>
                                <input type="email" class="my-form-control" placeholder="Enter Your Email">
                            </div>
                            <div class="form-group">
                                <label for="">Password</label>
                                <input type="text" class="my-form-control" placeholder="Enter Your Password">
                            </div>
                            <p class="f-pass">
                                Forgot your password? <a href="#">recover password</a>
                            </p>
                            <div class="button-wrapper">
                                <button type="submit" class="custom-button">Sign IN</button>
                            </div>
                            <div class="or">
                                <p>OR</p>
                            </div>
                            <div class="or-content">
                                <p>Sign up with your email</p>
                                <a href="#" class="or-btn"><img src="~/assets/images/google.png" alt=""> Sign Up with Google</a>
                                <p class="or-signup">
                                    Don't have an account? <a href="Account/Register">
                                        Sign up here
                                    </a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>