<!-- ==========Overlay========== -->
<div class="overlay"></div>
<a href="#" class="scrollToTop">
    <i class="fas fa-angle-up"></i>
</a>
<!-- ==========Overlay========== -->

<!-- ==========Breadcrumb-Section========== -->
<section class="breadcrumb-area profile-bc-area">
    <div class="container">
        <div class="content">
            <h2 class="title extra-padding">
                Dashboard
            </h2>
            <ul class="breadcrumb-list extra-padding">
                <li>
                    <a href="index.html">
                        Home
                    </a>
                </li>

                <li>
                    Dashboard
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Breadcrumb-Section========== -->
<!-- ==========Community-Section========== -->
<section class="community-section inner-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="top-filter">
                    <div class="left">
                        <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                            <i class="fas fa-sliders-h"></i>  Filter your search
                        </a>
                    </div>
                    <div class="right">
                        <span class="span">
                            Order By :
                        </span>
                        <div class="filter-right">
                            <select class="nice-select select-bar">
                                <option value="">Latest Active</option>
                                <option value="">NEW</option>
                                <option value="">OLD</option>
                                <option value="">POPULAR</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-community-box">
                    <div class="img">
                        <img src="~/assets/images/cummunity/img1.jpg" alt="">
                    </div>
                    <div class="content">
                        <p class="date">
                            6 days ago
                        </p>
                        <a href="community-single.html" class="title">
                            Philosophy of love
                        </a>
                        <p class="text">
                            Love for one another and love for
                            yourself is priceless.
                        </p>
                    </div>
                    <div class="box-footer">
                        <div class="left">
                            <i class="fas fa-globe-americas"></i> Public
                        </div>
                        <div class="right">
                            <i class="fas fa-users"></i> 100
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-community-box">
                    <div class="img">
                        <img src="~/assets/images/cummunity/img2.jpg" alt="">
                    </div>
                    <div class="content">
                        <p class="date">
                            6 days ago
                        </p>
                        <a href="community-single.html" class="title">
                            Communication  Key
                        </a>
                        <p class="text">
                            Love for one another and love for
                            yourself is priceless.
                        </p>
                    </div>
                    <div class="box-footer">
                        <div class="left">
                            <i class="fas fa-globe-americas"></i> Public
                        </div>
                        <div class="right">
                            <i class="fas fa-users"></i> 100
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-community-box">
                    <div class="img">
                        <img src="~/assets/images/cummunity/img3.jpg" alt="">
                    </div>
                    <div class="content">
                        <p class="date">
                            6 days ago
                        </p>
                        <a href="community-single.html" class="title">
                            Communication Tips
                        </a>
                        <p class="text">
                            Love for one another and love for
                            yourself is priceless.
                        </p>
                    </div>
                    <div class="box-footer">
                        <div class="left">
                            <i class="fas fa-globe-americas"></i> Public
                        </div>
                        <div class="right">
                            <i class="fas fa-users"></i> 100
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-community-box">
                    <div class="img">
                        <img src="~/assets/images/cummunity/img4.png" alt="">
                    </div>
                    <div class="content">
                        <p class="date">
                            6 days ago
                        </p>
                        <a href="community-single.html" class="title">
                            Easy Way to Dating
                        </a>
                        <p class="text">
                            Love for one another and love for
                            yourself is priceless.
                        </p>
                    </div>
                    <div class="box-footer">
                        <div class="left">
                            <i class="fas fa-globe-americas"></i> Public
                        </div>
                        <div class="right">
                            <i class="fas fa-users"></i> 100
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-community-box">
                    <div class="img">
                        <img src="~/assets/images/cummunity/img5.png" alt="">
                    </div>
                    <div class="content">
                        <p class="date">
                            6 days ago
                        </p>
                        <a href="community-single.html" class="title">
                            Online Dating Tips
                        </a>
                        <p class="text">
                            Love for one another and love for
                            yourself is priceless.
                        </p>
                    </div>
                    <div class="box-footer">
                        <div class="left">
                            <i class="fas fa-globe-americas"></i> Public
                        </div>
                        <div class="right">
                            <i class="fas fa-users"></i> 100
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-community-box">
                    <div class="img">
                        <img src="~/assets/images/cummunity/img6.png" alt="">
                    </div>
                    <div class="content">
                        <p class="date">
                            6 days ago
                        </p>
                        <a href="community-single.html" class="title">
                            An Effective Way
                        </a>
                        <p class="text">
                            Love for one another and love for
                            yourself is priceless.
                        </p>
                    </div>
                    <div class="box-footer">
                        <div class="left">
                            <i class="fas fa-globe-americas"></i> Public
                        </div>
                        <div class="right">
                            <i class="fas fa-users"></i> 100
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pagination-area text-center">
                    <a href="#"><i class="fas fa-angle-double-left"></i><span></span></a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#" class="active">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#"><i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Community-Sectionn========== -->
