@{
    ViewData["Title"] = "Home Page";
}

<!-- ==========Banner-Section========== -->
<section class="banner-section home2">
    <img class="img3" src="~/assets/images/banner/aimg3.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <h1 class="main-title wow fadeInLeft">
                    Find Love
                    Your Life
                </h1>
                <div class="join-now-box wow fadeInUp">
                    <div class="single-option">
                        <p class="title">
                            I am a :
                        </p>
                        <div class="option">
                            <div class="s-input mr-3">
                                <input type="radio" name="gender" id="male"><label for="male">Male</label>
                            </div>
                            <div class="s-input">
                                <input type="radio" name="gender" id="female"><label for="female">Female</label>
                            </div>
                        </div>
                    </div>
                    <div class="single-option gender">
                        <p class="title">
                            Seeking a :
                        </p>
                        <div class="option">
                            <div class="s-input mr-4">
                                <input type="radio" name="seeking" id="males"><label for="males">Man</label>
                            </div>
                            <div class="s-input">
                                <input type="radio" name="seeking" id="females"><label for="females">Woman</label>
                            </div>
                        </div>
                    </div>
                    <div class="single-option age">
                        <p class="title">
                            Ages :
                        </p>
                        <div class="option">
                            <div class="s-input mr-3">
                                <select class="select-bar">
                                    <option value="">18</option>
                                    <option value="">20</option>
                                    <option value="">24</option>
                                </select>
                            </div>
                            <div class="separator">
                                -
                            </div>
                            <div class="s-input ml-3">
                                <select class="select-bar">
                                    <option value="">30</option>
                                    <option value="">35</option>
                                    <option value="">40</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="single-option last">
                        <p class="title">
                            Country :
                        </p>
                        <div class="option">
                            <div class="s-input mr-3">
                                <select class="select-bar">
                                    <option>Select Country</option>
                                    <option value="">India</option>
                                    <option value="">Japan</option>
                                    <option value="">England</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="joun-button">
                        <button class="custom-button">Join Now!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Steps-Section========== -->
<div class="steps-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="steps-section-inner wow fadeInUp">
                    <div class="myCol1">
                        <h4 class="title">
                            3 EASY STEPS
                        </h4>
                        <p class="text">
                            To Start a Serious
                            Relationship
                        </p>
                    </div>
                    <div class="myCol2">
                        <ul class="steps-list">
                            <li>
                                <div class="number">
                                    1
                                </div>
                                <p class="label">
                                    Join
                                </p>
                            </li>
                            <li>
                                <div class="number">
                                    2
                                </div>
                                <p class="label">
                                    Search
                                </p>
                            </li>
                            <li>
                                <div class="number">
                                    3
                                </div>
                                <p class="label">
                                    Find Love
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="myCol3">
                        <a href="#" class="custom-button">Join Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========Steps-Section========== -->
<!-- ==========Start-Flirting-Section========== -->
<section class="flirting-section home2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="content">
                    <div class="section-header">
                        <h6 class="sub-title extra-padding wow fadeInUp">
                            Meet New People Today!
                        </h6>
                        <h2 class="title extra-padding wow fadeInUp">
                            Start Flirting
                        </h2>
                        <p>
                            In our modern day and age dating apps have become an
                            integral part of our lives. They allow you to check the profile of singles living near you, to chat with them, to meet them and maybe to fall in love.
                        </p>
                        <br>
                        <p>
                            If you’re searching for a simple dating app with free features
                            allowing to meet singles, you’re in good hands with Pairko. With Pairko you get all you need from a mobile dating app, which presents you thousands of users through your smartphone in a very pleasant experience.
                        </p>
                    </div>

                    <a href="#" class="custom-button">Seek Your Partner</a>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="img">
                    <img class="bg-shape" src="@Url.Content("~/assets/images/flirting/circle.png")" alt="">
                    <img src="@Url.Content("~/assets/images/flirting/illutration.png")" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Start-Flirting-Section========== -->
<!-- ==========Join-now-Section========== -->
<section class="join-now-section">
    <img class="shape1" src="~/assets/images/join/heartshape.png" alt="">
    <img class="shape2" src="~/assets/images/join/img.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="content">
                    <div class="section-header white-color">
                        <h2 class="title wow fadeInUp">
                            Best Ways to Find Your
                            True Sole Mate
                        </h2>
                    </div>

                    <a href="#" class="custom-button">Join Now !</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Join-now-Section========== -->
<!-- ==========Home2-Statistics-Section========== -->
<section class="home2-statistics-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="content">
                    <div class="section-header">
                        <h2 class="title extra-padding wow fadeInUp">
                            455,326,234
                        </h2>
                        <h6 class="sub-title extra-padding wow fadeInUp">
                            People joined already!
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="statistics-wrapper">
            <div class="row mb--20">
                <div class="col-lg-3 col-md-6">
                    <div class="stat-item wow fadeInUp" data-wow-delay="0.1s">
                        <div class="icon">
                            <img src="~/assets/images/statistics/si4.png" alt="">
                        </div>
                        <div class="stat-content">
                            <h3 class="counter-item"><span class=" odometer" data-odometer-final="350"></span>M</h3>
                            <span class="info">Messages sent per day</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="stat-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon">
                            <img src="~/assets/images/statistics/si5.png" alt="">
                        </div>
                        <div class="stat-content">
                            <h3 class="counter-item"><span class=" odometer" data-odometer-final="447"></span>M</h3>
                            <span class="info">Registered users worldwide</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="stat-item wow fadeInUp" data-wow-delay="0.3s">
                        <div class="icon">
                            <img src="~/assets/images/statistics/si6.png" alt="">
                        </div>
                        <div class="stat-content">
                            <h3 class="counter-item"><span class=" odometer" data-odometer-final="60"></span>M</h3>
                            <span class="info">Monthly active users</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="stat-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon">
                            <img src="~/assets/images/statistics/si7.png" alt="">
                        </div>
                        <div class="stat-content">
                            <h3 class="counter-item"><span class=" odometer" data-odometer-final="300"></span>K</h3>
                            <span class="info">New daily sign ups</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Home2-Statistics-Section========== -->
<!-- ==========Update-profile-Section========== -->
<section class="update-profile-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 align-self-center">
                <div class="content">
                    <div class="section-header">
                        <h6 class="sub-title extra-padding wow fadeInUp">
                            Upgrade Your Profile
                        </h6>
                        <h2 class="title extra-padding wow fadeInUp">
                            MemeberShip Plan
                        </h2>
                        <p>
                            Choose from one of our membership levels
                            and unlock features you need.Benefit from
                            Peyamba at its maximum capacity by choosing
                            the plan that suits you!
                        </p>
                    </div>

                    <a href="#" class="custom-button">Membership details</a>
                </div>
            </div>
            <div class="col-lg-7 align-self-center">
                <div class="img">
                    <img src="~/assets/images/up-profile/right-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Update-profile-Section========== -->